<div class="p-grid p-nogutter" style="display: flex; justify-content: space-between;">
  <div class="p-col-12 p-md-4" style="flex: 1; margin-right: 10px;">
    <p-card header="Today Revenue" styleClass="card-style">
      <ng-template pTemplate="subtitle">
        <span class="p-text-bold">{{daily_revenue}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="card-content">
          <p>Revenue generated today</p>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="p-col-12 p-md-4" style="flex: 1; margin-right: 10px;">
    <p-card header="Monthly Revenue" styleClass="card-style">
      <ng-template pTemplate="subtitle">
        <span class="p-text-bold">{{monthly_revenue}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="card-content">
          <p>Revenue generated this month</p>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="p-col-12 p-md-4" style="flex: 1;">
    <p-card header="Yearly Revenue" styleClass="card-style">
      <ng-template pTemplate="subtitle">
        <span class="p-text-bold">{{yearly_revenue}}</span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="card-content">
          <p>Revenue generated this year</p>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
